<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人博客主页</title>
    <link rel="stylesheet" href="/static/bs-3.3.7/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <style>
        hr{
            margin-top: 30px;
            margin-bottom: 0px;
        }
        li{
            margin-bottom: 10px;
            list-style: none;
        }

        .juzhong{

            text-align:center
        }

        .biaoqian{

          display: inline-block;
          min-width: 10px;
          padding: 3px 7px;
          font-size: 12px;
          font-weight: bold;
          line-height: 1;
          color: #fff;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          background-color: #777;
          border-radius: 10px;

        }


    </style>


</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">邓君超个人博客站</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                {% if request.user.is_authenticated %}#}
{##}
{#                    <li><a href="#">{{ request.user.username }}</a></li>#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                           aria-expanded="false">个人中心 <span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a href="#">修改密码</a></li>#}
{#                            <li><a href="#">修改头像</a></li>#}
{#                            <li><a href="#">修改样式</a></li>#}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="/logout/">退出登录</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                 {% else %}#}
{#                    <li><a href="/login/">登录</a></li>#}
{#                    <li><a href="/register/">注册</a></li>#}
{##}
{#                 {% endif %}#}
{#            </ul>#}
{##}
{##}
{##}
{#        </div><!-- /.navbar-collapse -->#}
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="col-md-2">
        <div class="panel panel-primary juzhong">
            <div class="panel-heading">标签分类</div>
            <div class="panel-group" id="accordion">

                {% for category in category_list %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#{{ category }}">{{ category.name }}</a>
                                <span id="id_{{ category }}" class="biaoqian"></span>
                            </h4>
                        </div>
                        <div id="{{ category }}"  class="panel-collapse collapse">
                            <div class="panel-body">
                               <ul class="list-group">
                                   {% for artcile in article_list %}
                                       {% if artcile.article_detail.catagory.name == category.name %}
                                        <li ><a href="/{{ artcile.blog }}/article/{{ artcile.id }}.html">{{ artcile.title }}</a></li>
                                        {% endif %}
                                   {% endfor %}

                                </ul>
                            </div>
                        </div>

                    </div>

                {% endfor %}

            </div>
        </div>

    </div>

    <div class="col-md-8">
        {% for artcile in orgs.object_list %}
            <h3>
                <a href="/{{ artcile.blog }}/article/{{ artcile.id }}.html">{{ artcile.title }}</a>
            </h3>

            <div class="media clearfix" style="margin-bottom: 30px">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" src="/media/{{ artcile.blog.user.avatar }}" alt="">
                    </a>

                </div>
                <div class="media-body">
                    {{ artcile.desc }}
                </div>
                <div class="pull-right">
{#                    <span><b>{{ artcile.blog.user.username }}</b></span>#}
                    <span>{{ artcile.create_time }}</span>
{#                    <sapn>评论(0)</sapn>#}
                    <span>阅读({{ artcile.click_nums}})</span>

                </div>
                <hr>
            </div>
        {% endfor %}
        <div class="pageturn">
            <ul class="pagelist">
            {# 判断是否有前一页#}
                {% if orgs.has_previous %}
                    <li class="long"><a href="?{{ orgs.previous_page_number.querystring }}">上一页</a></li>
                {% endif %}

                <!-- 遍历页面组 -->
                {% for page in orgs.pages %}
                    {% if page %}
                        {% ifequal page orgs.number %}
{#                            如果是当前页面是不能被点击的#}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            {#  如果不是当前页面是可以被点击的#}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}

                    {% else %}
                        {#...是不能被点击的空的#}
                        <li class="none"><a href="">...</a></li>
                    {% endif %}

                {% endfor %}

                {# 如果有下一页 下一页就显示可以点击#}
                {% if orgs.has_next %}
                      <li class="long"><a href="?{{ orgs.next_page_number.querystring }}">下一页</a></li>
                {% endif %}
            </ul>
        </div>

    </div>

    <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">最近更新</div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for artcile in lately_article_list %}
                                <li ><a href="/{{ artcile.blog }}/article/{{ artcile.id }}.html">{{ artcile.title }}</a></li>
                       {% endfor %}
                    </ul>
                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">文章档案</div>
                <div class="panel-group" id="accordion">

                    {% for time in time_list %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#nid_{{ time.month|date:'Y-m' }}">{{ time.month|date:'Y年m月' }}</a>
                                    <span id="" class="biaoqian">{{ time.c }}</span>
                                </h4>

                            </div>
                            <div id="nid_{{ time.month|date:'Y-m' }}"  class="panel-collapse collapse">
                                <div class="panel-body">
                                   <ul class="list-group">
                                       {% for artcile_one in time.article_detail_list %}
                                           <li ><a href="/{{ artcile_one.blog__site}}/article/{{ artcile_one.pk }}.html">{{ artcile_one.title }}</a></li>
                                       {% endfor %}

                                   </ul>

                                </div>
                            </div>

                        </div>

                    {% endfor %}

                </div>

            </div>

    </div>

</div>
</body>
<script src="/static/bs-3.3.7/js/jquery-3.3.1.js"></script>
<script src="/static/bs-3.3.7/js/bootstrap.js"></script>

<script>
    var res= {{ result|safe}}
    $.each(res, function(key,val) {
        document.getElementById("id_"+key).innerHTML = val;

    });
</script>


</html>